.app{  
  background-color: #004980 ;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
    display: flex;
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.title{
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    display: flex;
    justify-content: center;
}



.choose{
    width: 98px;
    height: 98px;
    left: 585px;
    top: 354px;
    background: #FFFFFF;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #004980;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose2{
    width: 98px;
    height: 98px;
    left: 585px;
    top: 354px;
    background: #FFFFFF;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #004980;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose3{
    width: 98px;
    height: 98px;
    left: 585px;
    top: 354px;
    background: #FFFFFF;
    border-radius: 12px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #004980;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;   
    background: #7AC100;
    border-radius: 12px;
}

.level{
    display: flex;
    gap: 32px;
}